name: Test Setup Python

on:
  push:
    branches: [main]

jobs:
  setup-python-job:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.14'

      - name: Check Python
        run: |
          which python
          python --version
          pip --version

      - name: Check tool cache
        run: |
          echo "RUNNER_TOOL_CACHE=$RUNNER_TOOL_CACHE"

