name: Test Setup Python

on:
  push:
    branches: [main]

jobs:
  setup-python-job:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Check Python
        run: |
          python --version
          pip --version
